<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COUNTRY_PROGRAM_CHANNEL_IDN</key>
	<string>4309d4ae-5abc-488a-8c8f-334c5bd220bd</string>
	<key>COUNTRY_PROGRAM_CHANNEL_NGA</key>
	<string>9bc1d3e8-58f1-4007-85ef-5051ce51d8ed</string>
	<key>COUNTRY_PROGRAM_CHANNEL_CHL</key>
	<string>71dd10b3-e629-4ece-a56c-2e7ead7db91b</string>
	<key>COUNTRY_PROGRAM_CHANNEL_GLOBAL</key>
	<string>19bd0f01-bae6-40f8-aa00-639beb00b141</string>
	<key>COUNTRY_PROGRAM_CHANNEL_MEX</key>
	<string>c9ebcf4e-2172-4844-bac4-bc208a7ba8b5</string>
	<key>COUNTRY_PROGRAM_CHANNEL_UGA</key>
	<string>f6388fb1-17e9-408d-947c-43e2046d1e3b</string>
	<key>COUNTRY_PROGRAM_CHANNEL_BRA</key>
	<string>ad4f94c2-07ed-492a-b1d3-cbc57b8ddb7e</string>
	<key>COUNTRY_PROGRAM_CHANNEL_IRL</key>
	<string>dfce72d3-b982-44a3-ba3a-e3b3fd68b989</string>
	<key>COUNTRY_PROGRAM_TOKEN_CHL</key>
	<string>Token 60600f1c0740dfbe28aa1e9ace1bba4f5d430d6d</string>
	<key>COUNTRY_PROGRAM_TOKEN_IDN</key>
	<string>Token 5608d5b6f8d11b4349dae163dda3227d9633d162</string>
	<key>COUNTRY_PROGRAM_TOKEN_NGA</key>
	<string>Token 69653a2d2352a5da7eb0281a877d9eadb8226783</string>
	<key>COUNTRY_PROGRAM_TOKEN_GLOBAL</key>
	<string>Token cb72adb4af1b860b8a89abcefc79605b6acf1c80</string>
	<key>COUNTRY_PROGRAM_TOKEN_MEX</key>
	<string>Token 480618d272d381d30c2a02cced874514b55d965d</string>
	<key>COUNTRY_PROGRAM_TOKEN_UGA</key>
	<string>Token 1e56890341a78f60e4b6109b7862fc7ebfb2452b</string>
	<key>COUNTRY_PROGRAM_TOKEN_BRA</key>
	<string>Token 4eefb650b15ad3f670876df9800b13dcd249e918</string>
	<key>COUNTRY_PROGRAM_TOKEN_IRL</key>
	<string>Token d3dd22f61f3fb82b7eccacebc1b0950843f1c08d</string>
	<key>TWITTER_APP_ID</key>
	<string>SKYXxzv0LeBdETT19fn2X3PkN</string>
	<key>FACEBOOK_APP_ID</key>
	<string>1021658627874726</string>
	<key>S3_BUCKET_NAME_CHAT</key>
	<string>ureport-app/chat_group</string>
	<key>S3_BUCKET_NAME_STORIES</key>
	<string>ureport-app/story</string>
	<key>URL_STORAGE_CHAT</key>
	<string>https://s3.amazonaws.com/ureport-app/chat_group</string>
	<key>URL_STORAGE_STORIES</key>
	<string>https://s3.amazonaws.com/ureport-app/story</string>
	<key>UREPORT_API_TOKEN</key>
	<string>65395e80-b6db-4778-b10f-6ffb246744d4</string>
	<key>COGNITO_IDENTITY_POLL_ID</key>
	<string>us-east-1:938eb41c-68e0-4196-b542-988fdf02e10e</string>
</dict>
</plist>
