<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COUNTRY_PROGRAM_CHANNEL_IDN</key>
	<string>653adfb1-622a-4eae-8798-c648d8f21b1e</string>
	<key>COUNTRY_PROGRAM_CHANNEL_NGA</key>
	<string>f2a93f0c-0b92-456e-b458-526c93ce3f58</string>
	<key>COUNTRY_PROGRAM_CHANNEL_CHL</key>
	<string>5603ae08-2072-4cd0-bd2e-387890aa586d</string>
	<key>COUNTRY_PROGRAM_CHANNEL_GLOBAL</key>
	<string>c9457440-607a-4a86-9968-a9caf3943127</string>
	<key>COUNTRY_PROGRAM_TOKEN_CHL</key>
	<string>Token 15593494b1b1caa57b71281265d216a2c26add14</string>
	<key>COUNTRY_PROGRAM_TOKEN_IDN</key>
	<string>Token 1a162c2064173feb4e957bf72ab318a53bed1756</string>
	<key>COUNTRY_PROGRAM_TOKEN_NGA</key>
	<string>Token d8f646a2da5306184bad9c8710be31e258d4a931</string>
	<key>COUNTRY_PROGRAM_TOKEN_GLOBAL</key>
	<string>Token e3c496851c5c346a58b95c07bc9026a39c0b58ec</string>
	<key>TWITTER_APP_ID</key>
	<string>SKYXxzv0LeBdETT19fn2X3PkN</string>
	<key>FACEBOOK_APP_ID</key>
	<string>1021658627874726</string>
	<key>S3_BUCKET_NAME_CHAT</key>
	<string>ureport-app/chat_group</string>
	<key>S3_BUCKET_NAME_STORIES</key>
	<string>ureport-app/story</string>
	<key>URL_STORAGE_CHAT</key>
	<string>https://s3.amazonaws.com/ureport-app/chat_group</string>
	<key>URL_STORAGE_STORIES</key>
	<string>https://s3.amazonaws.com/ureport-app/story</string>
	<key>UREPORT_API_TOKEN</key>
	<string>65395e80-b6db-4778-b10f-6ffb246744d4</string>
	<key>COGNITO_IDENTITY_POLL_ID</key>
	<string>us-east-1:938eb41c-68e0-4196-b542-988fdf02e10e</string>
</dict>
</plist>
