<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COUNTRY_PROGRAM_CHANNEL_IDN</key>
	<string>653adfb1-622a-4eae-8798-c648d8f21b1e</string>
	<key>COUNTRY_PROGRAM_CHANNEL_NGA</key>
	<string>21f112e3-6c15-4a03-9fd6-3a2df7857b4d</string>
	<key>COUNTRY_PROGRAM_CHANNEL_CHL</key>
	<string>5603ae08-2072-4cd0-bd2e-387890aa586d</string>
	<key>COUNTRY_PROGRAM_CHANNEL_GLOBAL</key>
	<string>c9457440-607a-4a86-9968-a9caf3943127</string>
	<key>COUNTRY_PROGRAM_CHANNEL_MEX</key>
	<string>c9ebcf4e-2172-4844-bac4-bc208a7ba8b5</string>
	<key>COUNTRY_PROGRAM_CHANNEL_UGA</key>
	<string>f6388fb1-17e9-408d-947c-43e2046d1e3b</string>
	<key>COUNTRY_PROGRAM_CHANNEL_BRA</key>
	<string>ad4f94c2-07ed-492a-b1d3-cbc57b8ddb7e</string>
	<key>COUNTRY_PROGRAM_CHANNEL_IRL</key>
	<string>dfce72d3-b982-44a3-ba3a-e3b3fd68b989</string>
	<key>COUNTRY_PROGRAM_CHANNEL_MYS</key>
	<string>9c19a43f-4790-4c1b-893d-39dd600b94b8</string>
	<key>COUNTRY_PROGRAM_CHANNEL_FJI</key>
	<string>83498b0c-167e-43b0-895e-f8b971e4c5b5</string>
	<key>COUNTRY_PROGRAM_TOKEN_CHL</key>
	<string>Token 15593494b1b1caa57b71281265d216a2c26add14</string>
	<key>COUNTRY_PROGRAM_TOKEN_IDN</key>
	<string>Token 1a162c2064173feb4e957bf72ab318a53bed1756</string>
	<key>COUNTRY_PROGRAM_TOKEN_NGA</key>
	<string>Token 597ffd5fa359129da1f9a689eb35ac04d227ac33</string>
	<key>COUNTRY_PROGRAM_TOKEN_GLOBAL</key>
	<string>Token f01257ce2270fd28acb6791e1b8a2e68c33d50e2</string>
	<key>COUNTRY_PROGRAM_TOKEN_MEX</key>
	<string>Token 480618d272d381d30c2a02cced874514b55d965d</string>
	<key>COUNTRY_PROGRAM_TOKEN_UGA</key>
	<string>Token 1e56890341a78f60e4b6109b7862fc7ebfb2452b</string>
	<key>COUNTRY_PROGRAM_TOKEN_BRA</key>
	<string>Token 4eefb650b15ad3f670876df9800b13dcd249e918</string>
	<key>COUNTRY_PROGRAM_TOKEN_IRL</key>
	<string>Token d3dd22f61f3fb82b7eccacebc1b0950843f1c08d</string>
	<key>COUNTRY_PROGRAM_TOKEN_MYS</key>
	<string>Token e7b6d4835f56e54b6706e4446670de9e4520b454</string>
	<key>COUNTRY_PROGRAM_TOKEN_FJI</key>
	<string>Token de2d00c8df1cdb8491acd2945f22ebe1670024de</string>
	<key>TWITTER_APP_ID</key>
	<string>SKYXxzv0LeBdETT19fn2X3PkN</string>
	<key>FACEBOOK_APP_ID</key>
	<string>1021658627874726</string>
	<key>S3_BUCKET_NAME_CHAT</key>
	<string>ureport-app/chat_group</string>
	<key>S3_BUCKET_NAME_STORIES</key>
	<string>ureport-app/story</string>
	<key>URL_STORAGE_CHAT</key>
	<string>https://s3.amazonaws.com/ureport-app/chat_group</string>
	<key>URL_STORAGE_STORIES</key>
	<string>https://s3.amazonaws.com/ureport-app/story</string>
	<key>UREPORT_API_TOKEN</key>
	<string>65395e80-b6db-4778-b10f-6ffb246744d4</string>
	<key>COGNITO_IDENTITY_POLL_ID</key>
	<string>us-east-1:938eb41c-68e0-4196-b542-988fdf02e10e</string>
</dict>
</plist>
